
  <div class="pure-g">
      <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
        <form method="POST" action="/sendemail" class="pure-form pure-form-stacked">
          <fieldset>
            <label>Name</label>
            <input type="text" name="name" placeholder="Please enter your name"/>
          
          
            <label>Phone</label>
            <input
              type="text"
              name="phone"
              placeholder="Please enter your phone number"
            />
        
            <label>Email</label>
            <input
              type="email"
              name="email"
              placeholder="Please enter your email"
            />
            <label>Your Message</label>
            <!-- <input type="text" name="message" placeholder="type your message here"/> -->
            <textarea class="pure-input-1" placeholder="Your message here..." name="message" id="message"></textarea>
            <button class="pure-button" type="submit">Send</button>
          </fieldset>
        </form>
      </div>  
      <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
        <h4>Contact Us</h4>
          <p>
          Hey y'all, send us a message if you are curious about anything. We do have some private event availability now that we have a few more employees. Let us know what you have in mind ;)
          </p>
      
    </div>
  </div>

